* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(175,177,117);
    background: linear-gradient(90deg, rgba(175,177,117,1) 0%, rgba(149,180,114,1) 35%, rgba(0,212,255,1) 100%);
}
.page-image {
    width: 30em;
    display: block;
}

.main-title {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-size: 42px;
}

nav {
    background-color: lightblue;
    display: flex;
    
    top: 0px;
    position: sticky;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    height: 100%;
}

.menu {
  max-width: 1500px;
  height: 50px;
  border-bottom: 1px solid black;

  top: 0px;
  position: sticky;
  background-color: white;
}

.menu-items {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  align-items: center;
  height: 100%;
}

